.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .relative {
    position: relative;
  }
  .fw-800 {
    font-weight: 800;
  }
  .primary-button{
    background-color: #26a9bd;
    color: white;
    border: 0;

  }
  .btn-lg{
      padding: 5px 20px;
  }
  .bg-grey{
      background-color: #F2F2F2;
  }
  .px-150{
      padding: 0 150px;
  }
  .hr-short{
      width: 50px;
      height: 50px;
      border-bottom: 3px #FC8C5E;
      
  }
  .bg-blue{
      background-color: #3C5998;
  }
  .bg-sky{
      background-color: #54ACEE;
  }
  .bg-dark-blue{
    background-color: #3F729B;
  }
  .bg-red{
      background-color: #CD201F;
  }